graphviz
h5py
ipykernel
ipython
ipython-genutils
ipywidgets
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
Keras-Preprocessing
keras-tuner
keras-visualizer
matplotlib
matplotlib-inline
nbclassic
nbclient
nbconvert
nbformat
notebook
notebook-shim
numpy
pandas
pillow
psutil
python-dateutil
requests
scikit-learn
scikit-image
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-addons
tensorflow-estimator
tensorflow-hub
tensorflow-probability==0.16.0
torch
torchvision
tornado
typing_extensions
visualkeras
wandb
widgetsnbextension