h5py==3.7.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jupyter==1.0.0
jupyter_client==7.3.5
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.19.1
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.15.2
keras==2.10.0
Keras-Preprocessing==1.1.2
Markdown==3.4.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
nbclassic==0.4.4
nbclient==0.6.8
nbconvert==7.1.0
nbformat==5.6.1
notebook==6.4.12
numpy==1.23.3
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
scikit-learn==1.1.2
scipy==1.9.1
tensorboard==2.10.1
tensorflow-addons==0.18.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-macos==2.10.0
tensorflow-metal==0.6.0
tensorflow-probability==0.18.0
typing_extensions==4.3.0
widgetsnbextension==4.0.3